extends ../layout

block content
    div(class="container pt-4 pb-4")
        h1 Seus exercícios

        a(href="/exercicios/caso-de-uso/cadastrar"  class="btn btn-sm btn-primary mr-2") Cadastrar caso de uso
        a(href="/exercicios/classe/cadastrar"  class="btn btn-sm btn-primary") Cadastrar classe
        
        if exercicios.length > 0
            table(class="table table-striped")
                thead
                    tr
                        th ID
                        th Título
                        th Descrição
                        th Cadastro
                        th Ações
                tbody
                    each exercicio in exercicios
                        tr
                            td #{exercicio._id}
                            td #{exercicio.titulo}
                            td #{exercicio.descricao}
                            td #{exercicio.dataCadastro.toLocaleString()}
                            td 
                                a(href="/exercicios/visualizar/#{exercicio._id}", class="btn btn-sm btn-primary")
                                    span Visualizar
                                a(href="/exercicios/editar/#{exercicio._id}", class="btn btn-sm btn-secondary")
                                    span Editar
                                a(href="/exercicios/remover/#{exercicio._id}", class="btn btn-sm btn-danger")
                                    span Remover
        else
            p Nenhum registro encontrado!