extends ../layout

block content
    h1 Submissões
    
    if submissoes.length > 0
        table(class="table table-striped")
            thead
                tr
                    th ID
                    th Conteúdo
                    th Data
                    th Ações
            tbody
                each submissao in submissoes
                    tr
                        td #{submissao._id}
                        td #{submissao.conteudo}
                        td #{submissao.dataCadastro.toLocaleString()}
                        td 
                            a(href="/submissoes/visualizar/#{estudante._id}", class="btn btn-sm btn-primary")
                                span Visualizar
                            a(href="/submissoes/remover/#{estudante._id}", class="btn btn-sm btn-danger")
                                span Remover
    else
        p Nenhum registro encontrado!